In [49]:
import pandas as pd
df = pd.read_csv('/content/Dataset_of_Diabetes .csv')
print(df.head())

    ID  No_Pation Gender  AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL  \
0  502      17975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
1  735      34221      M   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6
2  420      47975      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
3  680      87656      F   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5
4  504      34223      M   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4

    BMI CLASS
0  24.0     N
1  23.0     N
2  24.0     N
3  24.0     N
4  21.0     N

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1000 non-null   int64
 1   No_Pation  1000 non-null   int64
 2   Gender     1000 non-null   object
 3   AGE        1000 non-null   int64
 4   Urea       1000 non-null   float64
 5   Cr         1000 non-null   int64
 6   HbA1c      1000 non-null   float64
 7   Chol       1000 non-null   float64
 8   TG         1000 non-null   float64
 9   HDL        1000 non-null   float64
 10  LDL        1000 non-null   float64
 11  VLDL       1000 non-null   float64
 12  BMI        1000 non-null   float64
 13  CLASS      1000 non-null   object
dtypes: float64(8), int64(4), object(2)
memory usage: 109.5+ KB

In [57]:
df.isnull().sum()

ID           0
No_Pation    0
AGE          0
Urea         0
Cr           0
HbA1c        0
Chol         0
TG           0
HDL          0
LDL          0
VLDL         0
BMI          0
Gender_F     0
Gender_M     0
Gender_f     0
CLASS_N      0
CLASS_N      0
CLASS_P      0
CLASS_Y      0
CLASS_Y      0
dtype: int64

In [51]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Assuming 'df' is your DataFrame loaded from 'Dataset_of_Diabetes .csv'
# Identify categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_cols)

# Perform One-Hot Encoding
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_data = encoder.fit_transform(df[categorical_cols])

# Create a new DataFrame with encoded columns
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols))

# Concatenate encoded and original DataFrames
df = pd.concat([df, encoded_df], axis=1)

# Drop original categorical columns
df.drop(categorical_cols, axis=1, inplace=True)

# Display the updated DataFrame
df.head()

Categorical columns: Index(['Gender', 'CLASS'], dtype='object')

,ID,No_Pation,AGE,Urea,Cr,HbA1c,Chol,TG,HDL,LDL,VLDL,BMI,Gender_F,Gender_M,Gender_f,CLASS_N,CLASS_N,CLASS_P,CLASS_Y,CLASS_Y
0,502,17975,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,735,34221,26,4.5,62,4.9,3.7,1.4,1.1,2.1,0.6,23.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,420,47975,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,680,87656,50,4.7,46,4.9,4.2,0.9,2.4,1.4,0.5,24.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,504,34223,33,7.1,46,4.9,4.9,1.0,0.8,2.0,0.4,21.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [52]:
import pandas as pd
Q1 = df['AGE'].quantile(0.25)
Q3 = df['AGE'].quantile(0.75)
print(Q1,Q3)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(lower_bound,upper_bound)
outliers = df[(df['AGE'] < lower_bound) | (df['AGE'] > upper_bound)]
print(outliers['AGE'])

51.0 59.0
39.0 71.0
1      26
4      33
9      32
10     31
11     33
       ..
985    75
993    28
996    31
997    30
998    38
Name: AGE, Length: 98, dtype: int64

In [54]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
minmax_scaler = MinMaxScaler()
standard_scaler = StandardScaler()
numerical_features = ['AGE', 'Urea', 'Cr', 'HbA1c', 'Chol', 'TG', 'HDL', 'LDL', 'VLDL', 'BMI']
df[numerical_features] = minmax_scaler.fit_transform(df[numerical_features])
df[numerical_features] = standard_scaler.fit_transform(df[numerical_features])
print(df)

      ID  No_Pation       AGE      Urea        Cr     HbA1c      Chol  \
0    502      17975 -0.401144 -0.144781 -0.382672 -1.334983 -0.509436
1    735      34221 -3.130017 -0.212954 -0.115804 -1.334983 -0.893730
2    420      47975 -0.401144 -0.144781 -0.382672 -1.334983 -0.509436
3    680      87656 -0.401144 -0.144781 -0.382672 -1.334983 -0.509436
4    504      34223 -2.334096  0.673299 -0.382672 -1.334983  0.028576
..   ...        ...       ...       ...       ...       ...       ...
995  200     454317  1.986619  2.002680  0.467970 -0.505840  2.026906
996  671     876534 -2.561502 -0.724254 -0.149162  1.586758 -0.586295
997  669      87654 -2.675205  0.673299  0.201102 -0.624289 -0.586295
998   99      24004 -1.765581  0.230173 -0.165842 -0.624289  0.336011
999  248      24054  0.053668 -0.042521 -0.032408 -0.545323 -0.816871

           TG       HDL       LDL      VLDL       BMI  Gender_F  Gender_M  \
0   -1.035084  1.810756 -1.085457 -0.369958 -1.124622       1.0       0.0
1   -0.678063 -0.158692 -0.457398 -0.342649 -1.326239       0.0       1.0
2   -1.035084  1.810756 -1.085457 -0.369958 -1.124622       1.0       0.0
3   -1.035084  1.810756 -1.085457 -0.369958 -1.124622       1.0       0.0
4   -0.963680 -0.613180 -0.547121 -0.397267 -1.729472       0.0       1.0
..        ...       ...       ...       ...       ...       ...       ...
995 -0.463850 -0.007196 -0.726566 -0.342649  0.085078       0.0       1.0
996 -0.106828 -0.764676 -0.188229  3.699116  1.536719       0.0       1.0
997 -0.892276 -0.007196 -0.188229  1.705543 -0.439125       0.0       1.0
998 -0.249637  0.598788  0.260385  3.316787  2.202054       0.0       1.0
999 -0.463850 -0.158692  0.350107 -0.315340  0.689928       0.0       1.0

     Gender_f  CLASS_N  CLASS_N   CLASS_P  CLASS_Y  CLASS_Y
0         0.0      1.0       0.0      0.0      0.0       0.0
1         0.0      1.0       0.0      0.0      0.0       0.0
2         0.0      1.0       0.0      0.0      0.0       0.0
3         0.0      1.0       0.0      0.0      0.0       0.0
4         0.0      1.0       0.0      0.0      0.0       0.0
..        ...      ...       ...      ...      ...       ...
995       0.0      0.0       0.0      0.0      1.0       0.0
996       0.0      0.0       0.0      0.0      0.0       1.0
997       0.0      0.0       0.0      0.0      0.0       1.0
998       0.0      0.0       0.0      0.0      0.0       1.0
999       0.0      0.0       0.0      0.0      0.0       1.0

[1000 rows x 20 columns]

In [42]:
import pandas as pd
df1 = pd.read_csv("/content/adult.csv")
print(df1.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

In [43]:
df1.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [44]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
categorical_cols = df1.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_cols)

# Perform One-Hot Encoding
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded_data = encoder.fit_transform(df1[categorical_cols])

# Create a new DataFrame with encoded columns
encoded_df = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(categorical_cols))

# Concatenate encoded and original DataFrames
df1 = pd.concat([df1, encoded_df], axis=1)

# Drop original categorical columns
df1.drop(categorical_cols, axis=1, inplace=True)

# Display the updated DataFrame
df1.head()

Categorical columns: Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'gender', 'native-country', 'income'],
      dtype='object')

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,income_<=50K,income_>50K
0,25,226802,7,0,0,40,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,38,89814,9,0,0,50,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,28,336951,12,0,0,40,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,44,160323,10,7688,0,40,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,18,103497,10,0,0,30,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [47]:
import pandas as pd
Q1 = df1['age'].quantile(0.25)
Q3 = df1['age'].quantile(0.75)
print(Q1,Q3)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(lower_bound,upper_bound)
outliers = df[(df['age'] < lower_bound) | (df['age'] > upper_bound)]
print(outliers)

28.0 48.0
-2.0 78.0
Empty DataFrame
Columns: [age, workclass, fnlwgt, education, educational-num, marital-status, occupation, relationship, race, gender, capital-gain, capital-loss, hours-per-week, native-country, income]
Index: []

In [38]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
minmax_scaler = MinMaxScaler()
standard_scaler = StandardScaler()
numerical_features = ['age', 'fnlwgt', 'educational-num', 'capital-gain', 'capital-loss', 'hours-per-week']
df1[numerical_features] = minmax_scaler.fit_transform(df[numerical_features])
df1[numerical_features] = standard_scaler.fit_transform(df[numerical_features])
print(df1)

            age    fnlwgt  educational-num  capital-gain  capital-loss  \
0     -0.995129  0.351675        -1.197259     -0.144804     -0.217127
1     -0.046942 -0.945524        -0.419335     -0.144804     -0.217127
2     -0.776316  1.394723         0.747550     -0.144804     -0.217127
3      0.390683 -0.277844        -0.030373      0.886874     -0.217127
4     -1.505691 -0.815954        -0.030373     -0.144804     -0.217127
...         ...       ...              ...           ...           ...
48837 -0.849254  0.640492         0.747550     -0.144804     -0.217127
48838  0.098933 -0.334178        -0.419335     -0.144804     -0.217127
48839  1.411808 -0.357510        -0.419335     -0.144804     -0.217127
48840 -1.213941  0.111984        -0.419335     -0.144804     -0.217127
48841  0.974183  0.930494        -0.419335      1.871315     -0.217127

       hours-per-week  workclass_?  workclass_Federal-gov  \
0           -0.034087          0.0                    0.0
1            0.772930          0.0                    0.0
2           -0.034087          0.0                    0.0
3           -0.034087          0.0                    0.0
4           -0.841104          1.0                    0.0
...               ...          ...                    ...
48837       -0.195490          0.0                    0.0
48838       -0.034087          0.0                    0.0
48839       -0.034087          0.0                    0.0
48840       -1.648120          0.0                    0.0
48841       -0.034087          0.0                    0.0

       workclass_Local-gov  workclass_Never-worked  ...  \
0                      0.0                     0.0  ...
1                      0.0                     0.0  ...
2                      1.0                     0.0  ...
3                      0.0                     0.0  ...
4                      0.0                     0.0  ...
...                    ...                     ...  ...
48837                  0.0                     0.0  ...
48838                  0.0                     0.0  ...
48839                  0.0                     0.0  ...
48840                  0.0                     0.0  ...
48841                  0.0                     0.0  ...

       native-country_Scotland  native-country_South  native-country_Taiwan  \
0                          0.0                   0.0                    0.0
1                          0.0                   0.0                    0.0
2                          0.0                   0.0                    0.0
3                          0.0                   0.0                    0.0
4                          0.0                   0.0                    0.0
...                        ...                   ...                    ...
48837                      0.0                   0.0                    0.0
48838                      0.0                   0.0                    0.0
48839                      0.0                   0.0                    0.0
48840                      0.0                   0.0                    0.0
48841                      0.0                   0.0                    0.0

       native-country_Thailand  native-country_Trinadad&Tobago  \
0                          0.0                             0.0
1                          0.0                             0.0
2                          0.0                             0.0
3                          0.0                             0.0
4                          0.0                             0.0
...                        ...                             ...
48837                      0.0                             0.0
48838                      0.0                             0.0
48839                      0.0                             0.0
48840                      0.0                             0.0
48841                      0.0                             0.0

       native-country_United-States  native-country_Vietnam  \
0                               1.0                     0.0
1                               1.0                     0.0
2                               1.0                     0.0
3                               1.0                     0.0
4                               1.0                     0.0
...                             ...                     ...
48837                           1.0                     0.0
48838                           1.0                     0.0
48839                           1.0                     0.0
48840                           1.0                     0.0
48841                           1.0                     0.0

       native-country_Yugoslavia  income_<=50K  income_>50K
0                            0.0           1.0          0.0
1                            0.0           1.0          0.0
2                            0.0           0.0          1.0
3                            0.0           0.0          1.0
4                            0.0           1.0          0.0
...                          ...           ...          ...
48837                        0.0           1.0          0.0
48838                        0.0           0.0          1.0
48839                        0.0           1.0          0.0
48840                        0.0           1.0          0.0
48841                        0.0           0.0          1.0

[48842 rows x 110 columns]